*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    background-image:url("image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#e8e8e8
}

.section{
    width:min(1400px, 92%);
    margin:0  auto;
    padding:120px 0;
}
.section-head h2{
    margin-top:8px;
    line-height: 0.9;
}
.section-note{
    color:#777;
    font-family: monospace;
    font-size: 0.8rem;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 6vw;
    background:rgba(9,9,9,0.91);
    border-bottom:1px solid #252525;
    position:sticky;
    top:0;
    z-index: 100;

    backdrop-filter: blur(10px);
}
.logo{
    color:#dddddd;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.2em;

}
nav{
    display: flex;
    gap:27px;

}
nav a{
    font-size: 0.8rem;
    text-transform: uppercase;
    color:#aaaaaa;
    text-decoration: none;

    letter-spacing: 0.08em;
    transition:0.3s

}
nav a:hover{
    color:#d20b0b;
    text-shadow: 0 0 10px #8b0000;
}


.hero{
    min-height: 88vh;
    width: min(1200px, 88%);
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap:100px;
    align-items: center;
}
.hero-text{
    max-width: 850px;
    overflow: hidden;
}
.small-line{
    color:#aaaaaa;
    font-family: monospace;
    font-size: 0.8rem;
    letter-spacing: 0.15em;
}
.type-line{
    margin:25px 0;
    font-family:monospace;
    color:#c62828;
    font-size: 0.9rem;

}
.cursor{
    animation: blink 1s infinite;
}
@keyframes blink{
    50%{
        opacity: 0;
    }
}
.hero h1{
    line-height: 0.85;
    letter-spacing: -0.06;
    margin-bottom: 40px;

}
.hero h1 span{
   color:#999999;
}

.intro{
    max-width: 720px;
    color:#dddddd;
    font-size: 1.15rem;
    line-height: 1.7;
}
.intro strong{
    color:#fff
}

.buttons{
    display: flex;
    gap:11px;
    flex-wrap:wrap;
    margin-top: 36px;
    margin-bottom: 100px;
}
.button{
    display:inline-block;
    padding:14px 22px;
    border:1px solid #555555;
    color:#cccccc;
    font-size:0.75rem;
    background: #05050555;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition:background 0.2s ease, color 0.2s ease ,border 0.2s ease;
}
.button:hover{
    background: #d50707;
    color:#000;
    border-color:#fff;
    transform: translateY(-2px);
}
.button.red{
    border-color: #750000;
    color:#d20b0b;
}

.status-box{
    border:1px solid #e6eee7;
    padding:25px;
    background: #05050599;
    
}
.box-title{
    margin-bottom: 25px;
    color:#555;
    font-size: 0.7rem;
    letter-spacing: 0.15rem;

}
.status-row{
    display:flex;
    justify-content: space-between;
    padding: 14px 0;
    border-top: 1px solid #222;
    font-size: 0.72rem;
}
.status-row span{
    color:#f10505;
}
.warning{
    margin-top: 30px;
    color:#9b2929;
    font-family: monospace;
    font-size: 0.9rem;
}


.project-grid{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    background: #05050599;
    border: 1px solid #292929;
    gap:1px;
}
.project{
    position: relative;
    min-height: 245px;
    padding:35px;
    background: #05050599;
    transition:background .25s ease, transform 0.25s ease;
}
.project:hover{
    background:#0f0f0f;
    transform:translateY(-3px);
}
.number{
    margin-bottom: auto;
}
.number{
    display:block;
    margin-bottom:70px;
    color:#555;
    font-family: monospace;
    font-size: 0.8rem;
}
.project h3{
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: 500;

}
.project p{
    max-width: 500px;
    color:#f30404;
    font-size: 0.9rem;

}
.project a{
    display: inline-block;
    margin-top:auto;
    color:#aaa;
    font-family: monospace;
    border-bottom: 1px solid #444;

}
.project a:hover{
    color:#fff;
}

.transmission-box{
    background: #05050599;
    border:1px solid #292929;
    padding:40px;
    font-family: monospace;
    max-width: 800px;
}
.terminal-label{
    margin-bottom: 25px;
    color:#a51d1d;
    font-size:0.7rem;
}
.terminal-text{
    max-width: 650px;
    margin-bottom:40px;
    color:#aaa;
    font-size: 1.05rem;
}
.signal-line{
    display:flex;
    justify-content: space-between;
    padding: 13px;
    border-top: 1px solid #222;
}
.signal-line span{
    color:#555;

}
.signal-line strong{
    color:#ccc;
    
}


.contact-section{
    padding-top: 80px;
    padding-bottom: 100px;

}
.contact-box{
    padding:70px;
    border:1px solid #292929;
    text-align: center;
    background: #05050599;

}
.contact-box h2{
    margin: 15px 0;
    letter-spacing: -0.05rem;
}
.contact-box p:not(.small-line){
    color:#666;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6vw;
    border-top: 1px solid #292929;
    color:red;
    font-family: monospace;
    font-size: 0.65rem;
}
#dontTouch{
    color:#8b0000;
}
#dontTouch:hover{
    color:#ff0000;
    text-shadow: 0 0 5px red;
}
#jumpscare{
    position: fixed;
    inset:0;
    z-index: 99999;
    display: none;
    background: #000;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#jumpscare img{
    width:100%;
    height:100%;
    object-fit:cover;
    user-select:none;
    pointer-events: none;
}
/*glitch*/
#jumpscare::before,
#jumpscare::after{
    content:"";
    position: absolute;
    inset:0;
    pointer-events: none;

}
#jumpscare::before{
    background: repeating-linear-gradient(
        0deg,
        transparent 0px,
        transparent 3px,
        rgba(225,225,225,0.05) 4px,
        transparent 5px
    );
    mix-blend-mode: screen;
    animation: scanlines 0.15s infinite;
}
#jumpscare::after {
    background: rgba(255,0,0,0.04);

    animation: screenGlitch 0.12s infinite;
}


/* SCREEN SHAKE */

.glitch-active {
    animation: shake 0.08s infinite;
}

@keyframes shake {

    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-4px, 2px);
    }

    40% {
        transform: translate(4px, -2px);
    }

    60% {
        transform: translate(-2px, -4px);
    }

    80% {
        transform: translate(3px, 3px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes scanlines {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(6px);
    }
}

@keyframes screenGlitch {

    0% {
        opacity: 0.1;
        transform: translate(0);
    }

    25% {
        opacity: 0.3;
        transform: translate(-5px, 2px);
    }

    50% {
        opacity: 0.05;
        transform: translate(4px, -2px);
    }

    75% {
        opacity: 0.2;
        transform: translate(2px, 4px);
    }

    100% {
        opacity: 0.1;
        transform: translate(0);
    }
}